* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navBar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #620076;
    width: 500px;
    height: 75px;
    border-radius: 20px;
    position: relative;
}

.button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #F9DAFF;
    color: #620076;
    border-radius: 100px;
    z-index: 1;
}

.button-default {
    background-color: #62007600;
    color: #F9DAFF;
}

.ph-fill {
    font-size: 40px;
}

span {
    background-color: rgb(255, 255, 255);
    width: 85px;
    height: 60px;
    position: absolute;
    left: 42px;
    top: 0;
    border-radius: 5px 5px 500px 500px;
}

.button:nth-child(1)~span {
    opacity: 0;
}

.button:nth-child(1):focus~span {
    opacity: 100%;
}

.button:nth-child(1):focus {
    position: relative;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #F9DAFF;
    color: #620076;
}

.button:nth-child(2):focus~span {
    opacity: 100%;
    left: 150px;
}

.button:nth-child(2):focus {
    position: relative;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #F9DAFF;
    color: #620076;
}

.button:nth-child(3):focus~span {
    opacity: 100%;
    left: 260px;
}

.button:nth-child(3):focus {
    position: relative;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #F9DAFF;
    color: #620076;
}

.button:nth-child(4):focus~span {
    opacity: 100%;
    left: 370px;
}

.button:nth-child(4):focus {
    position: relative;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #F9DAFF;
    color: #620076;
}